.card__detailsButton {
  z-index: 3;
}

.card-container {
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
}


.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  top: 40px;
  &__detailsButton {
    height: 30px;
    width: 30px;
    right: 3%;
    top: 1%;
    position: absolute;
    border-radius: 80%;
    ion-icon {
      font-size: 25px;
      position: relative;
    }
  }
  &__title {
    margin: 5% auto;

  }
  &__illustration {
    margin: 9% auto;
  }
  &__question {
    margin: 5% auto;
  }
  &__illustration img {
    border-radius: 50%;
    width: 230px;
    height: 230px;
  }
}

.answers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  &__yes,
  &__no {
    flex: 1 1 auto;
    border-radius: 0;
    margin: 0;
  }
  &__yes {
    background-color: rgb(185, 204, 198);
  }
  &__no {
    background-color: rgb(204, 197, 197);
  }
}

.scroll-content {
  padding: 0 !important;
}



