.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 40px;
    &__title {
        margin: 5% auto;
    }
    &__illustration {
        margin: 9% auto;
    }
    &__question {
        margin: 5% auto;
    }
    &__illustration img{
        filter: blur(10px) saturate(6);
        border-radius: 50%;
        width: 230px;
        height: 230px; 
    }
}

.answers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // position: fixed;
    // bottom: 0px;
    &__yes, &__no {
        flex: 1 1 auto; 
        border-radius: 0;
        margin: 0;   
    }
    &__yes {
        background-color: rgb(5, 182, 123);
    }
    &__no {
        background-color: rgb(131, 14, 14);
    }
}


.scroll-content {
    padding: 0 !important;
}